mat-card{
    background-color: #673ab7;
    color: white;
}

mat-card-header{
    font-family: 'FuturaBold';
}
mat-card-subtitle{
    color: white;
}
p{
    font-family: 'FuturaBook';
}

button{
    font-family: 'FuturaHeavy';
    background-color: white;
    color: black;

}