<mat-toolbar color="primary" class="row justify-content-between">
    <div class="col d-flex">
        <div class='pt-1'>
            <a routerLink="/home" *ngIf="!logger">Revature SB</a>
            
        </div>
        
        <a class="ml-2"
        mat-raised-button
        color="accent"
        routerLink="/login"
        routerLinkActive="mat-accent"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="!logger"
        >Login <mat-icon color="basic">login</mat-icon></a>
    </div>
    
    
<div class="justify-content-end" *ngIf="logger">
    <div class="float-left pr-3" color="accent">Hello, {{ user.name }}</div>
    <button
        class="justify-content-end"
        mat-raised-button
        color="primary"
        [matMenuTriggerFor]="menu"
>

    <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/dashboard" class="px-2">Dashboard</a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/profile" class="px-2">Profile</a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/notes" class="px-2">Notes</a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/flashCards" class="px-2">Flash Cards</a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="/logout" class="px-2">Logout</a>
    </mat-menu>
</div>

</mat-toolbar>