mat-toolbar {
    color: rgba(242, 105, 38);
    background-color: rgba(242, 105, 38);
    width: 100%;
    justify-content: space-between;
    margin: 0;
    height: 100px;
}



.logo-revature {
    font-size:x-large;
    color: var(--accent-color);
}

.pt-1{
    color:rgba(242, 105, 38);
    text-decoration: none;
    font-family: 'FuturaBold';
    font-size: 35px

}

a{
    color: rgba(242, 105, 38);
}
