<mat-card>
    <div id="A">
     <div class="B">
          <div class="content-h">
            <div class="time">{{ timerService.hours | number:'2.0'}}<span>h</span></div>
            <div class="content-btn" *ngIf="timerService.show">
              <span (click)="timerService.increment('H')">+</span>
              <span (click)="timerService.decrement('H')">-</span>
            </div>
          </div>
    
          <div class="content-m">
            <div  class="time">{{ timerService.minutes | number:'2.0'}}<span>m</span></div>
            <div class="content-btn" class="content-btn" *ngIf="timerService.show">
              <span (click)="timerService.increment('M')">+</span>
              <span (click)="timerService.decrement('M')">-</span>
            </div>
          </div>
    
          <div class="content-s">
            <div class="time">{{timerService.seconds | number:'2.0'}}<span>s</span></div>
            <div class="content-btn" class="content-btn" *ngIf="timerService.show">
              <span (click)="timerService.increment('S')">+</span>
              <span  (click)="timerService.decrement('S')">-</span>
            </div>
          </div>
        </div>
    
        <div class="content-btn-action">
          <button type="button" (click)="timerService.start()" [disabled]="timerService.disabled">&#9658;</button>
          <button type="button" (click)="timerService.stop()">&#9724;</button>
          <button type="button" (click)="timerService.reset()">&#8635;</button>
        </div>
    
      </div>
    </mat-card>
