<mat-card class="w-100">
  <div class="container text-center">

    <span title="Hour(s)">{{ timerService.hours | number:'2.0'}}:</span>
    <!-- <div class="content-btn" *ngIf="timerService.show">
              <span (click)="timerService.increment('H')">+</span>
              <span (click)="timerService.decrement('H')">-</span>
            </div> -->
    <span title="minute(s)">{{ timerService.minutes | number:'2.0'}}:</span>
    <!-- <div class="content-btn" class="content-btn" *ngIf="timerService.show">
              <span (click)="timerService.increment('M')">+</span>
              <span (click)="timerService.decrement('M')">-</span>
            </div> -->
    <span title="Second(s)">{{ timerService.seconds | number:'2.0'}}</span>
    <!-- <button mat-button color="primary" (click)="">Edit</button> -->
  </div>
  <div class="text-center">
    <button mat-button color="primary" (click)="timerService.start()"
      [disabled]="timerService.disabled">&#9658;</button>
    <button mat-button color="primary" (click)="timerService.stop()">&#9724;</button>
    <button mat-button color="primary" (click)="timerService.reset()">&#8635;</button>
  </div>
</mat-card>