<mat-card class="w-100 text-center">
    <h1 color="primary">Study Timer</h1>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Hours</mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.studyHours" value="{{ [timerService.studyHours] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Minutes </mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.studyMinutes" value="{{ [timerService.studyMinutes] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Seconds</mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.studySeconds" value="{{ [timerService.studySeconds] }}">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    <h1 class="mt-2" color="primary">Snack Break</h1>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Hours</mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.breakHours" value="{{ [timerService.breakHours] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Minutes </mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.breakMinutes" value="{{ [timerService.breakMinutes] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Seconds</mat-label>
        <input matInput type="number" min="0" max="59" [(ngModel)]="timerService.breakSeconds" value="{{ [timerService.breakSeconds] }}">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="createTimer()">Save</button>
</mat-card>