
<div class="container">

    <div class="row">
        <div class="col-lg-4">
        <mat-card class="example-card">
            <div class="row">
                <div class="col-lg-9">
                
                    
                </div>
                <div class="col-lg-3">
                    <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
            <br/>
            <mat-divider inset></mat-divider>
            <mat-card-content>
                <br>
               <mat-card-title class="terms">Term</mat-card-title>
               <br>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-mini-fab color="primary" (click)="openDialog()" aria-label="Save Button">
                    <mat-icon>visibility</mat-icon>
                </button>
            </mat-card-actions>
            <mat-card-footer>

            </mat-card-footer>
            </mat-card>
    </div>

</div>

</div>