:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    max-width: 500px;
    animation: custom-dialog-enter .5s ease;
  }
  
  @keyframes custom-dialog-enter {
    from {
      transform: scale(0) rotate(360deg);
    }
  
    to {
      transform: none;
    }
  }

  .btn.btn-block.btn-primary{
    background-color:  rgb(78, 117, 201);
    border-radius: 12px;
  }
  .btn.btn-block.btn-primary:hover{
    background-color:  rgb(255, 0, 0);
    border: 2px solid rgb(4, 4, 4);
    border-radius: 12px;
  }