<button routerLink="">home</button>

<mat-card class="w-100">
    <h3 color="primary">Study Timer</h3>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Hours</mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.studyHours] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Minutes </mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.studyMinutes] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Seconds</mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.studySeconds] }}">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    <h3 color="primary">Break Timer</h3>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Hours</mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.breakHours] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Minutes </mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.breakMinutes] }}">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-25 ml-1 mr-1">
        <mat-label>Seconds</mat-label>
        <input matInput type="number" min="0" max="59" value="{{ [timerService.breakSeconds] }}">
    </mat-form-field><br>
    <button mat-button color="primary">Accent</button>
</mat-card>