<mat-card class="mt-1">
    <!-- <div class="row justify-content-center">
        <div class="col-lg-3 align-self-center"> -->
    <mat-card-title class="h2-responsive"> FlashCard <!--a href="edit-flashcard" mat-raised-button color="primary"><mat-icon>edit</mat-icon></a---></mat-card-title>
    <mat-divider></mat-divider>
    <form #AddFlashCard="ngForm" (ngSubmit)="onSubmitHandler(AddFlashCard)">
    
    <mat-label for="Flash Text " class="h2-responsive">Term</mat-label>
    <br>
    <mat-form-field class="input-fields">
        <input type="text" class="form-control" name="term" matInput ngModel #term="ngModel">
    </mat-form-field>

    <br>
    <mat-label for="Flash Text " class="h2-responsive">Definition</mat-label>
    <br>
    <mat-form-field class="input-fields">
        <textarea class="form-control" name = "definition" matInput ngModel #definition ="ngModel"></textarea>
    </mat-form-field>

    <div class="d-flex flex-row justify-content-center">
    <button
    mat-raised-button
    color="primary"
    type="submit"
    class="btn-block"
    >
    Submit
    </button>

    <button
    mat-raised-button
    color="primary"
    type="submit"
    class="btn-block"
    >
    Close
    </button>

    <button
    mat-raised-button
    color="primary"
    type="submit"
    class="btn-block"
    >
    View Cards
    </button>

</div>
</form>
<!-- </div>
</div> -->
</mat-card>