.mt-4{
    box-shadow: 7px 5px #8a8484;
    
}
mat-card{
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    align-items: left;
    width: 30%;
}
button{
    margin: 10px;
    text-align: center;
    padding: 5px;
}