<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-10">
            <app-navbar></app-navbar>
        </div>
        <div class="col-2">
            <mat-drawer-container class="Website-container" autosize>
                <mat-drawer #drawer class="timer-sidenav" mode="push">

                    <app-timer></app-timer>

                </mat-drawer>
                <div class="row no-gutters">
                    <div class="col">
                        <button mat-raised-button (click)="drawer.toggle()">Click Here for Timer</button>
                    </div>
                </div>
            </mat-drawer-container>
        </div>
    </div>
</div>

<router-outlet></router-outlet>