<!-- The view notes page will be a page that is made up of cards
     that contain the note data.
    These cards must contain buttons for deleting and editing the notes -->

<!-- This page should also contain a button for making generic notes -->
<div class="container">

<!-- Use ngFor loop to auto fill data -->
<!-- What you see below is a templete for the ngFor -->

    <div class="row">
        <div class="col-lg-4">
        <mat-card class="example-card">
            <div class="row">
                <div class="col-lg-9">
                <mat-card-subtitle>SubCategory</mat-card-subtitle>
                <mat-card-title>Note Title</mat-card-title>
                </div>
                <div class="col-lg-3">
                    <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
            <mat-card-content>
               <p>This will be where the note content goes</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-fab color="primary" aria-label="Edit Button">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab color="primary" aria-label="Save Button">
                    <mat-icon>save</mat-icon>
                </button>
            </mat-card-actions>
            <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
            </mat-card>
            </div>

            <div class="col-lg-4">
                <mat-card class="example-card">
                    <div class="row">
                        <div class="col-lg-9">
                        <mat-card-subtitle>SubCategory</mat-card-subtitle>
                        <mat-card-title>Note Title</mat-card-title>
                        </div>
                        <div class="col-lg-3">
                            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                        </div>
                    </div>
                    <mat-card-content>
                       <p>This will be where the note content goes</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-fab color="primary" aria-label="Edit Button">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-fab color="primary" aria-label="Save Button">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-card-actions>
                    <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer>
                    </mat-card>
                    </div>

                    <div class="col-lg-4">
                        <mat-card class="example-card">
                            <div class="row">
                                <div class="col-lg-9">
                                <mat-card-subtitle>SubCategory</mat-card-subtitle>
                                <mat-card-title>Note Title</mat-card-title>
                                </div>
                                <div class="col-lg-3">
                                    <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                                </div>
                            </div>
                            <mat-card-content>
                               <p>This will be where the note content goes</p>
                            </mat-card-content>
                            <mat-divider inset></mat-divider>
                            <mat-card-actions>
                                <button mat-fab color="primary" aria-label="Edit Button">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-fab color="primary" aria-label="Save Button">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </mat-card-actions>
                            <mat-card-footer>
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </mat-card-footer>
                            </mat-card>
                            </div>

                            <div class="col-lg-4">
                                <mat-card class="example-card">
                                    <div class="row">
                                        <div class="col-lg-9">
                                        <mat-card-subtitle>SubCategory</mat-card-subtitle>
                                        <mat-card-title>Note Title</mat-card-title>
                                        </div>
                                        <div class="col-lg-3">
                                            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                                        </div>
                                    </div>
                                    <mat-card-content>
                                       <p>This will be where the note content goes</p>
                                    </mat-card-content>
                                    <mat-divider inset></mat-divider>
                                    <mat-card-actions>
                                        <button mat-fab color="primary" aria-label="Edit Button">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-fab color="primary" aria-label="Save Button">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                    <mat-card-footer>
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </mat-card-footer>
                                    </mat-card>
                                    </div>

    </div>  
</div>